<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework:Acl/etc/acl.xsd'>
	<acl>
		<resources>
			<resource id='Magento_Backend::admin'>
				<resource id='Magento_Backend::stores'>
					<resource id='Magento_Backend::stores_settings'>
						<resource id='Magento_Config::config'>
							<resource id='Dfe_ZoomVe::settings' title='Store Pickup Settings' sortOrder='130' translate='title'>
								<resource id='Dfe_ZoomVe::carrier_configuration' title='Store Pickup Carrier Settings' translate='title' />
								<resource id='Dfe_ZoomVe::payment_configuration' title='Store Pickup Payment Settings' translate='title' />
							</resource>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
